body {
  padding: 0;
  margin: 0;
}

/* #map,
body,
html {
  height: 90%;
} */

#nickMap {
  height: 300px;
}


#map {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;  /* or as desired */
    width: 100%;  
}
