 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <link rel = "sytlesheet" href="static/css/style.css"
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Data Scraped from Various Mars-Related Websites</h1>
      <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a></p> -->
    </div>


    <div id="nickMap" style = "height: 300px"></div>

  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

 <script src="static/js/config.js"></script>
  <script src="static/js/logic_nick.js"></script>
  <!-- add ind .js files -->

</body>

</html>

